@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programming Club</h1>
    <p class="lead">This is the main page of the application. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg" style="background-color: cornflowerblue" >A short video of functionality. &raquo;</a></p>
</div>

<div class="row" style="background-color: lavender">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            <ul>
                <li>C#</li>
                <li>Linq to SQL</li>
                <li>MSSQL DataBase</li>
            </ul>
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        
        <ul>
            <li>Visual Studio Community</li>
            <li>SQL Management Studio</li>
            <li>Notepad++</li>
        </ul>

       
    </div>
    <div class="col-md-4">
        <h2>Source Control</h2>
        <p>GitHub</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Link &raquo;</a></p>
    </div>
</div>