@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Programming Club</h1>
    <p class="lead">This is the main page of the application. </p>
   <p><a href="https://doc-14-78-apps-viewer.googleusercontent.com/viewer/secure/pdf/2ni6o7net1lepot6brlumt4doaf5of0g/kbu4ou4qg3mhm9r2d8l1jgs1k13s941i/1634287950000/drive/17002598075198577889/ACFrOgAYLO74LgT7YxungRrBZj0Puo3vHryLGfogfzaKM51ZVVUhfA8iW8MRj24gbcuPBnahuCOUMFaX6l1H3q7hdJljffbrUB2g7IhbI068TIHpr47Zy1wYyQuZ5ms3u5jvVy6ZZQ-Nb3dC9KKE?print=true&nonce=54d5sn39t3jlk&user=17002598075198577889&hash=oodjoieg842u5mc5bd0k994q0je8q2hl" target="_blank" class="btn btn-primary btn-lg" style="background-color: cornflowerblue" >A short presentation of functionality. &raquo;</a></p> 
</div>

<div class="row" style="background-color: lavender">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            <ul>
                <li>C#</li>
                <li>Linq to SQL</li>
                <li>MSSQL DataBase</li>
            </ul>
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Tools</h2>
        
        <ul>
            <li>Visual Studio Community</li>
            <li>SQL Management Studio</li>
            <li>Notepad++</li>
        </ul>

       
    </div>
    <div class="col-md-4">
        <h2>Source Control</h2>
        <p>GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/dragosss13/ProgrammingClubM" target="_blank" >Link &raquo;</a></p>
    </div>
</div>